################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/*.user
/NumericOverflow.Bot/obj
/NumericOverflow.Bot/bin
/NumericOverflow.Bot/*.user
/NumericOverflow.Bot.Tests/obj
/NumericOverflow.Bot.Tests/bin
/NumericOverflow.Bot.Sample/obj
/NumericOverflow.Bot.Sample/bin
/NumericOverflow.Bot.Indexers/obj
/NumericOverflow.Bot.Indexers/bin
